html{
    font-size: 30px;
}

p{
    font-size: 30px;
}
body{
    background-color: pink;
    color: yellow;
}

p:last-of-type{
    color: tomato;
}

p:first-of-type{
    color: fuchsia;
}
p:nth-of-type(3n+2){
    color: chocolate;
}
p{
    color: darksalmon;
    font-size: 1.5rem;
}
